<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-flat-button
      color="Basic"
      routerLink=""
      routerLinkActive="active"
    >
      Nyilvántartás
    </button>
    <span class="top-bar-spacer"></span>
    <div class="top-bar-button-row">
      <button mat-flat-button color="primary" [hidden]="!isLoggedIn()">
        Termékek
      </button>
      <button
        mat-flat-button
        color="primary"
        routerLink="login"
        routerLinkActive="active"
        [hidden]="isLoggedIn() || isLoginPage()"
      >
        Bejelentkezés
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
