<app-centered-card>
  <mat-card-header>Termék módosítása</mat-card-header>
  <mat-card-subtitle>Adja meg a termék adatait</mat-card-subtitle>
  <mat-card-content class="card-form-container">
    <form class="card-form">
      <mat-form-field class="card-full-width"></mat-form-field>
      <mat-form-field class="card-full-width"></mat-form-field>
      <mat-form-field class="card-full-width"></mat-form-field>
      <mat-form-field class="card-full-width"></mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button>Mentés</button>
  </mat-card-footer>
</app-centered-card>
