<div class="div-centered">
  <mat-card>
    <mat-card-header>Bejelentkezés</mat-card-header>
    <mat-card-content class="user-login-form-container">
      <form class="user-login-form">
        <mat-form-field class="user-login-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            [(ngModel)]="loginData.email"
            matInput
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Kérem adja meg az email címét
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Az email megadásas <strong>kötelező</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-login-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            [(ngModel)]="loginData.password"
            matInput
            [formControl]="passwordFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="!passwordFormControl.hasError('required')">
            Kérem adja meg a jelszavát
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            A jelszó megadása <strong>kötelező</strong>
          </mat-error>
        </mat-form-field>

        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="emailFormControl.invalid || passwordFormControl.invalid"
        >
          Belépés
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
