<app-centered-card>
  <mat-card-header>Bejelentkezés</mat-card-header>
  <mat-card-content class="card-form-container">
    <form class="card-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field class="card-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            this.loginForm.get('email')?.hasError('email') &&
            !this.loginForm.get('email')?.hasError('required')
          "
        >
          Kérem adja meg az email címét
        </mat-error>
        <mat-error *ngIf="this.loginForm.get('email')?.hasError('required')">
          Az email megadásas <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="card-full-width">
        <mat-label>Jelszó</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          name="password"
          matInput
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="!this.loginForm.get('password')?.hasError('required')"
        >
          Kérem adja meg a jelszavát
        </mat-error>
        <mat-error *ngIf="this.loginForm.get('password')?.hasError('required')">
          A jelszó megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
      <div style="display: flex">
        <button
          type="submit"
          mat-flat-button
          color="primary"
          style="margin: auto"
          [disabled]="
            this.loginForm.get('email')?.invalid ||
            this.loginForm.get('password')?.invalid
          "
        >
          Belépés
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <p style="font-size: 10px; margin-left: 40px">
      Nem rendelkezik fiókkal? A regisztrációhoz
      <a routerLink="/register" routerLinkActive="active">kattintson ide</a>!
    </p>
  </mat-card-footer>
</app-centered-card>
