.top-bar-spacer {
  flex: 1 1 auto;
}

.top-bar-button-row {
  display: table-cell;
  max-width: 600px;
  margin: 8px 0 8px 0;
  display: flex;
  align-items: center;
}

.top-bar-button-row button {
  margin: auto 8px;
}
