<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-flat-button
      color="Basic"
      routerLink=""
      routerLinkActive="active"
    >
      Nyilvántartás
    </button>
    <span class="top-bar-spacer"></span>
    <div class="top-bar-button-row">
      <button
        mat-flat-button
        color="primary"
        [hidden]="!isLoggedIn()"
        routerLink="registry"
        routerLinkActive="active"
      >
        Termékek
      </button>
      <button
        mat-flat-button
        color="primary"
        [hidden]="!atThisPage('/registry')"
        routerLink="product-add"
        routerLinkActive="active"
      >
        Hozzáad
      </button>
      <button
        mat-flat-button
        color="primary"
        routerLink="login"
        routerLinkActive="active"
        [hidden]="isLoggedIn() || atThisPage('/login')"
      >
        Bejelentkezés
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="logout()"
        routerLink="login"
        routerLinkActive="active"
        [hidden]="!isLoggedIn() || atThisPage('/login')"
      >
        Kijelentkezés
      </button>
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a plus one icon"
        (click)="goToUserPage()"
        [hidden]="!isLoggedIn() || atThisPage('/login')"
      >
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
