<div class="div-centered">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Web technológák 2</mat-card-title>
      <mat-card-subtitle>Miskolci Egyetem 2022/2023 II.félév</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="welcome-description">
        Egy nyilvántartó rendszer készítése tetszőleges témakörben (pl. termékek
        nyilvántartása). A nyilvántartó rendszernek legyen bejelentkező felülete
        (név, jelszó). Ezután ha bejelentkeztünk lehessen a nyilvántartott
        termékeket kilistázni, új terméket hozzáadni a termékek listájához (ha
        nincs még olyan termék). Mielőtt felvinnénk egy új terméket ellenőrizzük
        le, hogy minden adat helyes-e (pl. szám helyett nem szöveget adtunk-e
        meg). A feladatnál ügyeljünk az igényes stílus kialakítására. A félév
        során tanult technológiákat alkalmazza a feladat megoldása során.
      </p>
      <ul>
        <li>Angular (+Material)</li>
        <li>Node.js</li>
        <li>MongoDB</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
